<h2><%= params[:search] %> products</h2>
<ul id="searchResults">
<% @results['results'].each_with_index do |product, index| %>
  <li <%= "class='first'" if (index % 3) == 0 %> >
    <h3><%= link_to"#{product['brandName']} #{product['productName']}", "/products/#{product['productId']}" %></h3>
    <p>
      <%= link_to( image_tag( product['thumbnailImageUrl'], :align=>'left'), "/products/#{product['productId']}") %><br>
      <%= product['price'] %> 
      <%- if product['price'] != product['originalPrice'] %>
      <span class='discount'>(<%= "#{product['percentOff']} off #{product['originalPrice']}" %>)</span>
      <%- end %>
    </p>
    <iframe src="http://www.facebook.com/plugins/like.php?href=<%= u product['productUrl']%>&amp;layout=box_count&amp;show_faces=true&amp;width=450&amp;action=recommend&amp;font&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:65px;" allowTransparency="true"></iframe>
    
  </li>
<% end %>
<ul>
  
  <p id="pageination" style="clear:both">
  <%= link_to( "back", :controller => 'search', :action => 'index', :page => @results['currentPage'].to_i + 1 ) if @results['currentPage'].to_i > 1 %>
  <%= link_to( "more", :controller => 'search', :action => 'index', :page => @results['currentPage'].to_i + 1 ) if @results['currentPage'].to_i < @results['pageCount'].to_i %>
  </p>

